*

!.config/nvim/UltiSnips/
!.config/nvim/autoload/
!.config/nvim/config/
!.config/nvim/plugins/
!.config/nvim/themes/
!.config/nvim/coc-settings.json
!.config/nvim/init.vim

!.config/tmuxinator/rails.yml

!.config/yadm/bootstrap

!.tmux/.tmux.conf
!.tmux.conf

!.gitconfig
!.gitignore

!.profile

!.ssr/settings.conf
!.tool-versions

!.zshrc

!README.md
