[core]
  editor = nvim
  autocrlf = input
[user]
  email = felimpantoja@gmail.com
  name = Felipe Pantoja
[m4u]
email = felipe.pantoja@m4u.com.br
name = Felipe Pantoja
[pager]
  branch = false
[credential]
  helper = store
[push]
  default = current
