# ignore all by default...
*

# ...then add only what matters

# alacritty terminal configs
!.config/alacritty/.alacritty.yml

# ansible playbooks
!ansible/

# ranger
!.config/ranger/rc.conf

# neovim
!.config/nvim/UltiSnips/
!.config/nvim/autoload/
!.config/nvim/config/
!.config/nvim/plugins/
!.config/nvim/themes/
!.config/nvim/coc-settings.json
!.config/nvim/init.vim

# tmuxinator template files
!.config/tmuxinator/

# yadm bootstrap file for auto executing after git checkout
!.config/yadm/bootstrap

# this very file
!.gitignore

# tips for using this dotfiles repo
!README.md

# single screen recorder tool configs
!.ssr/settings.conf

# asdf global defaults
!.tool-versions

# tmux configs
!.tmux.conf.local

# zshell configs
!.zshrc
