# ignore all by default...
*

# ...then add only what matters

# neovim
!.config/nvim/UltiSnips/
!.config/nvim/autoload/
!.config/nvim/config/
!.config/nvim/plugins/
!.config/nvim/themes/
!.config/nvim/coc-settings.json
!.config/nvim/init.vim

# tmuxinator template files
!.config/tmuxinator/

# yadm bootstrap file for auto executing after git checkout
!.config/yadm/bootstrap

# tmux configs
!.tmux/.tmux.conf
!.tmux.conf

# git personal configs
!.gitconfig

# this very file
!.gitignore

# single screen recorder tool configs
!.ssr/settings.conf

# asdf global defaults
!.tool-versions

# zshell configs
!.zshrc

# tips for using this dotfiles repo
!README.md
