- name: Generate SSH Keys based on Git Identities
  shell: 'ssh-keygen -t ed25519 -C "{{ item }}" -f /home/{{ user_name }}/.ssh/{{ item.id }}_id_ed25519 -q -N ""'
  with_items: '{{ git.identities }}'
  ignore_errors: yes

- name: Build .gitconfig from Template
  template:
    src: home/user/.gitconfig.j2
    dest: /home/{{ user_name }}/.gitconfig
  tags:
    - development
